version: '3.7'

services:
  alfresco:
    image: ${ALFRESCO_IMAGE}:${ALFRESCO_TAG}
    environment:
      JAVA_OPTS : "
        -Ddb.driver=org.postgresql.Driver
        -Ddb.username=alfresco
        -Ddb.password=alfresco
        -Ddb.url=jdbc:postgresql://postgres:5432/alfresco
        -Dsolr.host=search
        -Dsolr.port=8983
        -Dalfresco.protocol=http
        -Dsolr.secureComms=none
        -Dalfresco.secureComms=none
        -Dsolr.baseUrl=/solr
        -Dindex.subsystem.name=solr6
        -Dalfresco.restApi.basicAuthScheme=true
        -Dcsrf.filter.enabled=false
        -Dcors.enabled=false
        -Dmessaging.broker.url=\"failover:(nio://activemq:61616)?timeout=3000&jms.useCompression=true\"

        -Dtransform.service.enabled=false
        -Dtransform.service.url=
        -Dsfs.url=
        -Dlocal.transform.service.enabled=false
        -DlocalTransform.libreoffice.url=
        -DlocalTransform.tika.url=
        -DlocalTransform.misc.url=
        -DlocalTransform.pdfrenderer.url=
        -DlocalTransform.imagemagick.url=
        "
    ports:
      - "7203:7203" #JMX connect via service:jmx:rmi:///jndi/rmi://localhost:7203/jmxrmi
      - "5005:5005" #Java debugging
      - "8081:8080" #Browser port for Alfresco

  share:
    image: ${SHARE_IMAGE}:${SHARE_TAG}
    environment:
      - REPO_HOST=alfresco
      - REPO_PORT=8080
    ports:
      - 8082:8080 #Browser port for Share

  postgres:
    image: postgres:${POSTGRES_TAG}
    environment:
      - POSTGRES_PASSWORD=alfresco
      - POSTGRES_USER=alfresco
      - POSTGRES_DB=alfresco
    ports:
      - 5432:5432

  search:
    image: quay.io/alfresco/search-services:${SEARCH_TAG}
    environment:
      #Replication properties
      # - REPLICATION_TYPE=master
      #Solr needs to know how to register itself with Alfresco
      - SOLR_ALFRESCO_HOST=alfresco
      - SOLR_ALFRESCO_PORT=8080
      #Alfresco needs to know how to call solr
      - SOLR_SOLR_HOST=search
      - SOLR_SOLR_PORT=8983
      #Create the default alfresco and archive cores
      - SOLR_CREATE_ALFRESCO_DEFAULTS=alfresco,archive
      #HTTP by default
      - ALFRESCO_SECURE_COMMS=none
      #Enable Spellcheck by setting to true
      - ENABLE_SPELLCHECK=${SEARCH_ENABLE_SPELLCHECK}
    ports:
      - 8083:8983 #Browser port

  activemq:
    image: alfresco/alfresco-activemq:5.15.6
    ports:
      - 8161:8161 # Web Console
      - 5672:5672 # AMQP
      - 61616:61616 # OpenWire
      - 61613:61613 # STOMP